$primary   : #FF4757;
$secondary : #FFA502;
$accent    : #5352ED;

$dark      : #1A1A2E;
$dark-page : #121212;

$positive  : #2ED573;
$negative  : #FF4757;
$info      : #1E90FF;
$warning   : #FFA502;
